* {
    margin: 0px;
    padding: 0px;
}

.container,
.container-items {
    display: flex;
    justify-content: center;
}

.container-items {
    flex-direction: row;
}

.item {
    width: 100px;
    height: 50px;
    margin: 10px;
}
